:root {
    --primary-color: #2A6CEA;
    --grey-color: #ECEFF2;
    --dark-grey-color:#5E646A;
    --text-light-color: #ffffff;
    --text-grey-color: #83898F;
    --text-dark-color: #191C1F;
    --primary-light-color: #FFFFFF;
    --light-grey-color:#F6F8FA;
}